<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="YelhighWebsite.styles.css" />
    <link rel="icon" type="image/x-icon" href="images/yelhigh-logo.png" />
    <link rel="stylesheet" href="css/index.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script defer src="js/flock.js" data-proxy-url="~api/analytics"></script>
    <script type="module" crossorigin src="js/index.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
